
//Color Variables
@textColor: #000; //Black
@backgroundColor: #FFF; //White
@blueColor : #1f4ba5;
@hoverColor : #ebeee;

.navBar {
    background-color: @backgroundColor;
    min-width: 100%;
    .logo {
        font-family: PT Serif;
        font-weight: bold;
        font-size: 26px;
        font-style: italic;
        color: @blueColor;
        padding: 25px 10px;
    }
}

// Content Wrapper
.wrapper {
    margin: 0 auto;
    padding: 0 2%;
}

// Full Navigation
nav {
    ul {
        display: flex;
        //justify-content: space-between;
        list-style-type: none;
        li {
            padding: 0px;
            &:hover {color: @hoverColor;}
            a {
                color: @textColor;
                text-decoration: none;
                transition: all .5s ease;
            }
        }

        .mybag-count{
            border: 2px solid @blueColor;
            background-color: @blueColor;
            border-radius: 50%;
            color: white;
            display: inline-block;
            font-size: 1.2rem;
            height: 17px;
            right: 0px;
            line-height: 15px;
            text-align: center;
            top: 0;
            width: 17px;
            position: absolute;
        }

    }

    li  {
        display: inline-block;
        padding: 0px 10px;
    }

    .left-navigation{
        width: 70%;
    }

    #menu-toggle {display: none;}

    .label-toggle {display: none;}

    .wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}


//Navbar responsiveness
@media screen and (max-width: 768px) {
    .navBar {
        ul {
            a {
                color: @backgroundColor;
            }
        }
        .left-navigation {
            width: 100% !important;
        }
        .navbar-nav {
            margin: 0px;
        }
        ul {
            background-color: @textColor;
            display: block;
            height: 0;
            list-style-type: none;
            opacity: 0;
            text-align: center;
            transition: all 1s ease;
            width: 100%;
            visibility: hidden;
        }

        li {
            border-bottom: 2px solid @backgroundColor;
            color: @backgroundColor;
            display: block;
            font-size: 1.5rem;
            padding: 2em 0;
        }

        #menu-toggle:checked ~ ul {
            opacity: 1;
            height: 100%;
            visibility: visible;
        }

        .label-toggle {
            background: linear-gradient(to bottom, @textColor 0%, @textColor 20%, transparent 20%, transparent 40%, @textColor 40%, @textColor 60%, transparent 60%, transparent 80%, @textColor 80%, @textColor 100%); //Gradient Hamburger
            cursor: pointer;
            display: block;
            float: right;
            height: 35px;
            margin-top: 1em;
            width: 35px;
        }

        .wrapper {display: block;}
    }
}
